<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Blog Management</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/tailwind.css" />

  <!-- ==== WOW JS ==== -->
  <script src="/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</head>

<body>
  <!-- ====== Navbar Section Start -->
  <%- include('partials/navbar') %>
  <!-- ====== Navbar Section End -->

  <!-- ====== Banner Section Start -->
  <div class="relative z-10 overflow-hidden pt-[120px] pb-[60px] md:pt-[130px] lg:pt-[160px] dark:bg-dark">
    <div class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke dark:via-dark-3 to-stroke/0">
    </div>
    <%- include('partials/ads') %>
    <div class="container">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4">
          <div class="text-center">
            <h1 class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
              Manage Blogs</h1>
            <p class="mb-5 text-base text-body-color dark:text-dark-6">
              There are many variations of passages of Lorem Ipsum available.
            </p>

            <ul class="flex items-center justify-center gap-[10px]">
              <li>
                <a href="/index" class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white">
                  Home
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="flex items-center gap-[10px] text-base font-medium text-body-color">
                  <span class="text-body-color dark:text-dark-6"> / </span>
                  Manage Blogs
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ====== Banner Section End -->

  <!-- ====== Blog Section Start -->
  <section class="pt-20 pb-10 lg:pt-[80px] lg:pb-20 dark:bg-dark">
    <div class="container">

      <form id="searchForm" action="/admin/blogs" method="GET" class="flex flex-wrap items-center justify-center gap-4 pb-20 w-full md:w-[80%] mx-auto">
        <input type="text" name="search" placeholder="Search blogs..." value="<%= search %>"
          class="w-full md:w-auto px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 placeholder:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none" />
        <select name="filter" class="w-full md:w-auto px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none">
          <option value="" <%= filter === '' ? 'selected' : '' %>>All</option>
          <option value="latest" <%= filter === 'latest' ? 'selected' : '' %>>Latest</option>
          <option value="oldest" <%= filter === 'oldest' ? 'selected' : '' %>>Oldest</option>
          <option value="popular" <%= filter === 'popular' ? 'selected' : '' %>>Most Popular</option>
        </select>

        <select name="category" class="w-full md:w-auto px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none">
          <option value="">All Categories</option>
          <% categories.forEach(category => { %>
            <option value="<%= category._id %>" <%= selectedCategory === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
          <% }); %>
        </select>

        <select name="timeRange" class="w-full md:w-auto px-5 py-3 text-base transition bg-transparent border rounded-md outline-none border-stroke dark:border-dark-3 text-body-color dark:text-dark-6 focus:border-primary dark:focus:border-primary focus-visible:shadow-none">
          <option value="">All Time</option>
          <option value="24h" <%= timeRange === '24h' ? 'selected' : '' %>>Last 24 Hours</option>
          <option value="week" <%= timeRange === 'week' ? 'selected' : '' %>>Last Week</option>
          <option value="month" <%= timeRange === 'month' ? 'selected' : '' %>>Last Month</option>
          <option value="year" <%= timeRange === 'year' ? 'selected' : '' %>>Last Year</option>
        </select>

        <div class="relative w-full md:w-auto">
          <button type="button" id="dropdownButton" class="w-full md:w-auto px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-primary bg-primary hover:bg-blue-dark">Tags</button>

          <div id="dropdown" class="hidden h-[160px] overflow-auto flex-col gap-2 mt-4 absolute z-10 p-2 bg-white border border-stroke rounded-md shadow-lg scrollbar-hide">
            <% tags.forEach(tag => { %>
              <label class="flex items-center">
                <input type="checkbox" name="tags" value="<%= tag._id %>" <%= selectedTags.includes(tag._id.toString()) ? 'checked' : '' %> />
                <span class="ml-2"><%= tag.name %></span>
              </label>
            <% }); %>
          </div>
        </div>

        <button type="submit" class="w-full md:w-auto px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-primary bg-primary hover:bg-blue-dark">Apply</button>
      </form>
      <div class="flex flex-wrap gap-4 pb-10">
        <button type="button" id="toggleSelectionMode" class="w-full md:w-auto px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-white bg-primary hover:bg-blue-dark">Toggle Selection Mode</button>
        <button type="button" id="changeStatusSelected" class="w-full md:w-auto px-5 py-3 text-base text-white transition duration-300 ease-in-out border rounded-md cursor-pointer border-white bg-green-600 hover:bg-green-800 hidden">Change Status of Selected</button>
      </div>
      <div id="blogContainer" class="flex flex-wrap -mx-4">
        <%- include('partials/blogs', { blogs: blogs }) %>
      </div>
    </div>

    <div id="paginationContainer" class="mt-8 text-center wow fadeInUp" data-wow-delay=".2s">
      <%- include('partials/pagination', {
        currentPage: currentPage,
        hasNextPage: hasNextPage,
        hasPreviousPage: hasPreviousPage,
        nextPage: nextPage,
        previousPage: previousPage,
        lastPage: lastPage,
        oldUrl: '/admin/blogs?'
      }) %>
    </div>
  </section>
  <!-- ====== Blog Section End -->

  <!-- ====== Footer Section Start -->
  <%- include('partials/footer') %>
  <!-- ====== Footer Section End -->

  <!-- ====== Back To Top Start -->
  <a href="javascript:void(0)"
    class="back-to-top fixed bottom-8 right-8 left-auto z-[999] hidden h-10 w-10 items-center justify-center rounded-md bg-primary text-white shadow-md transition duration-300 ease-in-out hover:bg-dark">
    <span class="mt-[6px] h-3 w-3 rotate-45 border-t border-l border-white"></span>
  </a>
  <!-- ====== Back To Top End -->

  <!-- ====== Made With Button Start -->
  <!-- <a target="_blank" rel="nofollow noopener"
    class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-white dark:bg-dark-2 shadow-2 fixed bottom-8 left-4 sm:left-9 z-[999]"
    href="https://tailgrids.com/">
    <span class="text-base font-medium text-dark-3 dark:text-dark-6">
      Made with
    </span>
    <span class="block w-px h-4 bg-stroke dark:bg-dark-3"></span>
    <span class="block max-w-[88px] w-full">
      <img src="/images/brands/tailgrids.svg" alt="tailgrids" class="dark:hidden">
      <img src="/images/brands/tailgrids-white.svg" alt="tailgrids" class="hidden dark:block">
    </span>
  </a> -->
  <!-- ====== Made With Button End -->

  <!-- ====== All Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/main.js"></script>
  <script src="/js/alerts.js"></script>
  <script src="/js/blogs.js"></script>
  <script>
    document.getElementById('dropdownButton').addEventListener('click', function () {
      var dropdown = document.getElementById('dropdown');
      if (dropdown.classList.contains('hidden')) {
        dropdown.classList.remove('hidden');
        dropdown.classList.add('flex');
      } else {
        dropdown.classList.add('hidden');
      }
    });

    document.getElementById('toggleSelectionMode').addEventListener('click', function () {
      const checkboxes = document.querySelectorAll('.blog-checkbox');
      const overlays = document.querySelectorAll('.overlay');
      const button = document.querySelectorAll('.delete-blog-btn');
      checkboxes.forEach(checkbox => {
        checkbox.classList.toggle('hidden');
      });
      overlays.forEach(overlay => {
        overlay.classList.toggle('hidden');
      });
      button.forEach(button => {
        button.classList.toggle('hidden');
      });
      document.getElementById('changeStatusSelected').classList.toggle('hidden');
    });

    document.querySelectorAll('.overlay').forEach(overlay => {
      overlay.addEventListener('click', function () {
        const checkbox = this.previousElementSibling;
        checkbox.checked = !checkbox.checked;
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      updateBlogLinksAndStatus();
    });
  </script>
</body>

</html>