<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Details | Play Tailwind</title>
    <link
      rel="shortcut icon"
      href="/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/ckeditor.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tailwind.css"/>

    <!-- ==== WOW JS ==== -->
    <script src="/js/wow.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js" crossorigin></script>
		<script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
    <script>
      new WOW().init();
    </script>
  </head>

  <body>
    <!-- ====== Navbar Section Start -->
    <%- include('partials/navbar') %>
    <!-- ====== Navbar Section End -->

    <!-- ====== Banner Section Start -->
    <div
      class="relative z-10 overflow-hidden pb-[60px] pt-[120px] dark:bg-dark md:pt-[130px] lg:pt-[160px]"
    >
      <div
        class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke to-stroke/0 dark:via-dark-3"
      ></div>
      <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full px-4">
            <div class="text-center">
              <h1
                class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
              >
                Blog Details
              </h1>
              <p class="mb-5 text-base text-body-color dark:text-dark-6">
                There are many variations of passages of Lorem Ipsum available.
              </p>

              <ul class="flex items-center justify-center gap-[10px]">
                <li>
                  <a
                    href="/index"
                    class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white"
                  >
                    Home
                  </a>
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="flex items-center gap-[10px] text-base font-medium text-body-color"
                  >
                    <span class="text-body-color dark:text-dark-6"> / </span>
                    Blog Details
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ====== Banner Section End -->

    <!-- ====== Blog Details Section Start -->
    <section class="pb-10 pt-20 dark:bg-dark lg:pb-20 lg:pt-[120px]">
      <div class="container">
        <div class="flex flex-wrap justify-center -mx-4">
          <div class="w-full px-4">
            <div
              class="wow fadeInUp relative z-20 mb-[50px] h-[300px] overflow-hidden rounded-[5px] md:h-[400px] lg:h-[500px]"
              data-wow-delay=".1s
              "
            >
              <img
                src="<%= blog.imageUrl %>"
                alt="image"
                class="object-cover object-center w-full h-full"
              />
              <div
                class="absolute top-0 left-0 z-10 flex items-end w-full h-full bg-gradient-to-t from-dark-700 to-transparent"
              >
                <div class="flex flex-wrap items-center p-4 pb-4 sm:px-8">
                  <div class="flex items-center mb-4 mr-5 md:mr-10">
                    <div class="w-10 h-10 mr-4 overflow-hidden rounded-full">
                      <img
                        src="/images/blog/author-01.png"
                        alt="image"
                        class="w-full"
                      />
                    </div>
                    <p class="text-base font-medium text-white">
                      By
                      <a
                        href="/user/<%=blog.author.id%>"
                        class="text-white hover:opacity-70"
                      >
                      <%= blog.author.username %>
                      </a>
                    </p>
                  </div>
                  <div class="flex items-center mb-4">
                    <p
                      class="flex items-center mr-5 text-sm font-medium text-white md:mr-6"
                    >
                      <span class="mr-3">
                        <svg
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="fill-current"
                        >
                          <path
                            d="M13.9998 2.6499H12.6998V2.0999C12.6998 1.7999 12.4498 1.5249 12.1248 1.5249C11.7998 1.5249 11.5498 1.7749 11.5498 2.0999V2.6499H4.4248V2.0999C4.4248 1.7999 4.1748 1.5249 3.8498 1.5249C3.5248 1.5249 3.2748 1.7749 3.2748 2.0999V2.6499H1.9998C1.1498 2.6499 0.424805 3.3499 0.424805 4.2249V12.9249C0.424805 13.7749 1.1248 14.4999 1.9998 14.4999H13.9998C14.8498 14.4999 15.5748 13.7999 15.5748 12.9249V4.1999C15.5748 3.3499 14.8498 2.6499 13.9998 2.6499ZM1.5748 7.2999H3.6998V9.7749H1.5748V7.2999ZM4.8248 7.2999H7.4498V9.7749H4.8248V7.2999ZM7.4498 10.8999V13.3499H4.8248V10.8999H7.4498V10.8999ZM8.5748 10.8999H11.1998V13.3499H8.5748V10.8999ZM8.5748 9.7749V7.2999H11.1998V9.7749H8.5748ZM12.2998 7.2999H14.4248V9.7749H12.2998V7.2999ZM1.9998 3.7749H3.2998V4.2999C3.2998 4.5999 3.5498 4.8749 3.8748 4.8749C4.1998 4.8749 4.4498 4.6249 4.4498 4.2999V3.7749H11.5998V4.2999C11.5998 4.5999 11.8498 4.8749 12.1748 4.8749C12.4998 4.8749 12.7498 4.6249 12.7498 4.2999V3.7749H13.9998C14.2498 3.7749 14.4498 3.9749 14.4498 4.2249V6.1749H1.5748V4.2249C1.5748 3.9749 1.7498 3.7749 1.9998 3.7749ZM1.5748 12.8999V10.8749H3.6998V13.3249H1.9998C1.7498 13.3499 1.5748 13.1499 1.5748 12.8999ZM13.9998 13.3499H12.2998V10.8999H14.4248V12.9249C14.4498 13.1499 14.2498 13.3499 13.9998 13.3499Z"
                          />
                        </svg>
                      </span>
                      <%= blog.createdAt ? blog.createdAt.toDateString() : 'Unknown Date' %>
                    </p>

                    <p
                      class="flex items-center mr-5 text-sm font-medium text-white md:mr-6"
                    >
                      <span class="mr-3">
                        <svg
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="fill-current"
                        >
                          <path
                            d="M11.1002 4.875H4.6502C4.3502 4.875 4.0752 5.125 4.0752 5.45C4.0752 5.775 4.3252 6.025 4.6502 6.025H11.1252C11.4252 6.025 11.7002 5.775 11.7002 5.45C11.7002 5.125 11.4252 4.875 11.1002 4.875Z"
                          />
                          <path
                            d="M9.8002 7.92505H4.6502C4.3502 7.92505 4.0752 8.17505 4.0752 8.50005C4.0752 8.82505 4.3252 9.07505 4.6502 9.07505H9.8002C10.1002 9.07505 10.3752 8.82505 10.3752 8.50005C10.3752 8.17505 10.1002 7.92505 9.8002 7.92505Z"
                          />
                          <path
                            d="M13.9998 1.9751H1.9998C1.1498 1.9751 0.424805 2.6751 0.424805 3.5501V12.9751C0.424805 13.3751 0.649805 13.7501 1.0248 13.9251C1.1748 14.0001 1.3248 14.0251 1.4748 14.0251C1.7248 14.0251 1.9498 13.9501 2.1498 13.7751L4.2748 12.0251H13.9998C14.8498 12.0251 15.5748 11.3251 15.5748 10.4501V3.5501C15.5748 2.6751 14.8498 1.9751 13.9998 1.9751ZM14.4498 10.4501C14.4498 10.7001 14.2498 10.9001 13.9998 10.9001H4.0748C3.9498 10.9001 3.8248 10.9501 3.7248 11.0251L1.5748 12.8001V3.5501C1.5748 3.3001 1.7748 3.1001 2.0248 3.1001H14.0248C14.2748 3.1001 14.4748 3.3001 14.4748 3.5501V10.4501H14.4498Z"
                          />
                        </svg>
                      </span>
                      09
                    </p>
                    <p class="flex items-center text-sm font-medium text-white">
                      <span class="mr-3">
                        <svg
                          width="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="fill-current"
                        >
                          <path
                            d="M7.9998 5.92505C6.8498 5.92505 5.9248 6.85005 5.9248 8.00005C5.9248 9.15005 6.8498 10.075 7.9998 10.075C9.1498 10.075 10.0748 9.15005 10.0748 8.00005C10.0748 6.85005 9.1498 5.92505 7.9998 5.92505ZM7.9998 8.95005C7.4748 8.95005 7.0498 8.52505 7.0498 8.00005C7.0498 7.47505 7.4748 7.05005 7.9998 7.05005C8.5248 7.05005 8.9498 7.47505 8.9498 8.00005C8.9498 8.52505 8.5248 8.95005 7.9998 8.95005Z"
                          />
                          <path
                            d="M15.3 7.1251C13.875 5.0001 11.9 2.8501 8 2.8501C4.1 2.8501 2.125 5.0001 0.7 7.1251C0.35 7.6501 0.35 8.3501 0.7 8.8751C2.125 10.9751 4.1 13.1501 8 13.1501C11.9 13.1501 13.875 10.9751 15.3 8.8751C15.65 8.3251 15.65 7.6501 15.3 7.1251ZM14.375 8.2501C12.55 10.9251 10.725 12.0251 8 12.0251C5.275 12.0251 3.45 10.9251 1.625 8.2501C1.525 8.1001 1.525 7.9001 1.625 7.7501C3.45 5.0751 5.275 3.9751 8 3.9751C10.725 3.9751 12.55 5.0751 14.375 7.7501C14.45 7.9001 14.45 8.1001 14.375 8.2501Z"
                          />
                        </svg>
                      </span>
                      <%= blog.views %>
                    </p>
                    <span
                    class="inline-block px-4 py-0.5 text-xs font-medium leading-loose text-center text-white rounded-[5px] bg-secondary ml-3">
                      <%= blog.category.name %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <button id="toggleSectionBtn" class="mb-4 px-4 py-2 bg-primary text-white rounded">Slide</button>
            <div class="flex flex-wrap -mx-4">
              <div id="mainContent" class="w-full px-4 lg:w-8/12">
                <div>
                  <h2
                    class="wow fadeInUp mb-8 text-2xl font-bold text-dark dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28]"
                    data-wow-delay=".1s
                    "
                  >
                  <%= blog.title %>
                  </h2>
                  <div
                    class="main-container ck-content mb-6 text-base wow fadeInUp text-body-color dark:text-white"
                    data-wow-delay=".1s"
                  >
                   <%- blog.content %>
                  </div>

                  <div class="flex flex-wrap items-center mb-12 -mx-4">
                    <div class="w-full px-4 md:w-1/2">
                      <div
                        class="flex flex-wrap items-center gap-3 mb-8 wow fadeInUp md:mb-0"
                        data-wow-delay=".1s"
                      >
                      <% blog.tags.forEach(tag => { %>
                        <a
                          href="javascript:void(0)"
                          class="block rounded-md bg-primary/[0.08] px-[14px] py-[5px] text-base text-dark hover:bg-primary hover:text-white dark:text-white"
                        >
                          <%= tag.name %>
                        </a>
                      <% }); %>
                      </div>
                    </div>
                    <div class="w-full px-4 md:w-1/2">
                      <div
                        class="flex items-center wow fadeInUp md:justify-end"
                        data-wow-delay=".1s"
                      >
                        <span
                          class="mr-5 text-sm font-medium text-body-color dark:text-dark-6"
                        >
                          Share This Post
                        </span>
                        <div class="flex items-center gap-[10px]">
                          <a href="javascript:void(0)">
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                fill="#1877F2"
                              />
                              <path
                                d="M17 15.5399V12.7518C17 11.6726 17.8954 10.7976 19 10.7976H21V7.86631L18.285 7.67682C15.9695 7.51522 14 9.30709 14 11.5753V15.5399H11V18.4712H14V24.3334H17V18.4712H20L21 15.5399H17Z"
                                fill="white"
                              />
                            </svg>
                          </a>
                          <a href="javascript:void(0)">
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                fill="#55ACEE"
                              />
                              <path
                                d="M24.2945 11.375C24.4059 11.2451 24.2607 11.0755 24.0958 11.1362C23.728 11.2719 23.3918 11.3614 22.8947 11.4166C23.5062 11.0761 23.7906 10.5895 24.0219 9.99339C24.0777 9.84961 23.9094 9.71915 23.7645 9.78783C23.1759 10.0669 22.5408 10.274 21.873 10.3963C21.2129 9.7421 20.272 9.33331 19.2312 9.33331C17.2325 9.33331 15.6117 10.8406 15.6117 12.6993C15.6117 12.9632 15.6441 13.2202 15.7051 13.4663C12.832 13.3324 10.2702 12.1034 8.49031 10.2188C8.36832 10.0897 8.14696 10.1068 8.071 10.2643C7.86837 10.6846 7.7554 11.1509 7.7554 11.6418C7.7554 12.8093 8.39417 13.8395 9.36518 14.4431C8.92981 14.4301 8.51344 14.3452 8.12974 14.2013C7.94292 14.1312 7.72877 14.2543 7.75387 14.4427C7.94657 15.8893 9.11775 17.0827 10.6295 17.3647C10.3259 17.442 10.0061 17.483 9.67537 17.483C9.59517 17.483 9.51567 17.4805 9.43688 17.4756C9.23641 17.4632 9.07347 17.6426 9.15942 17.8141C9.72652 18.946 10.951 19.7361 12.376 19.7607C11.1374 20.6637 9.57687 21.2017 7.88109 21.2017C7.672 21.2017 7.5823 21.4706 7.7678 21.5617C9.20049 22.266 10.832 22.6666 12.5656 22.6666C19.2231 22.6666 22.8631 17.5377 22.8631 13.0896C22.8631 12.944 22.8594 12.7984 22.8528 12.6542C23.3932 12.2911 23.8789 11.8595 24.2945 11.375Z"
                                fill="white"
                              />
                            </svg>
                          </a>
                          <a href="javascript:void(0)">
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                fill="#007AB9"
                              />
                              <path
                                d="M11.7836 10.1666C11.7833 10.8452 11.3716 11.4559 10.7426 11.7106C10.1137 11.9654 9.39306 11.8134 8.92059 11.3263C8.44811 10.8392 8.31813 10.1143 8.59192 9.49341C8.86572 8.87251 9.48862 8.4796 10.1669 8.49996C11.0678 8.527 11.784 9.26533 11.7836 10.1666ZM11.8336 13.0666H8.50024V23.4999H11.8336V13.0666ZM17.1003 13.0666H13.7836V23.4999H17.0669V18.0249C17.0669 14.9749 21.0419 14.6916 21.0419 18.0249V23.4999H24.3336V16.8916C24.3336 11.75 18.4503 11.9416 17.0669 14.4666L17.1003 13.0666Z"
                                fill="white"
                              />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="toggleSection" class="w-full px-4 lg:w-4/12">
                <div>
                  <div
                    class="wow fadeInUp relative mb-12 overflow-hidden rounded-[5px] bg-primary px-11 py-[60px] text-center lg:px-8"
                    data-wow-delay=".1s
                    "
                  >
                    <h3
                      class="mb-[6px] text-[28px] font-semibold leading-[40px] text-white"
                    >
                      Join our newsletter!
                    </h3>
                    <p class="mb-5 text-base text-white">
                      Enter your email to receive our latest newsletter.
                    </p>
                    <form>
                      <input
                        type="email"
                        placeholder="Your email address"
                        class="mb-4 h-[50px] w-full rounded-md border border-transparent bg-white/10 text-center text-base text-white outline-none placeholder:text-white/60 focus:border-white focus-visible:shadow-none"
                      />
                      <input
                        type="submit"
                        value="Subscribe Now"
                        class="mb-4 h-[50px] w-full cursor-pointer rounded-md bg-secondary text-center text-sm font-medium text-white transition duration-300 ease-in-out hover:bg-[#0BB489] hover:bg-opacity-90"
                      />
                    </form>
                    <p class="text-sm font-medium text-white">
                      Don't worry, we don't spam
                    </p>

                    <div>
                      <span class="absolute top-0 right-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                      <span class="absolute bottom-0 left-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                    </div>
                  </div>

                  <!-- <div class="flex flex-wrap mb-8 -mx-4">
                    <div class="w-full px-4">
                      <h2
                        class="wow fadeInUp relative pb-5 text-2xl font-semibold text-dark dark:text-white sm:text-[28px]"
                        data-wow-delay=".1s
                        "
                      >
                        Popular Articles
                      </h2>
                      <span
                        class="mb-10 inline-block h-[2px] w-20 bg-primary"
                      ></span>
                    </div>

                    <div class="w-full px-4 md:w-1/2 lg:w-full">
                      <div
                        class="flex items-center w-full pb-5 mb-5 border-b wow fadeInUp border-stroke dark:border-dark-3"
                        data-wow-delay=".1s
                        "
                      >
                        <div
                          class="mr-5 h-20 w-full max-w-[80px] overflow-hidden rounded-full"
                        >
                          <img
                            src="/images/blog/article-author-01.png"
                            alt="image"
                            class="w-full"
                          />
                        </div>
                        <div class="w-full">
                          <h4>
                            <a
                              href="javascript:void(0)"
                              class="inline-block mb-1 text-lg font-medium leading-snug text-dark hover:text-primary dark:text-dark-6 dark:hover:text-primary lg:text-base xl:text-lg"
                            >
                              Create engaging online courses your student…
                            </a>
                          </h4>
                          <p class="text-sm text-body-color dark:text-dark-6">
                            Glomiya Lucy
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="w-full px-4 md:w-1/2 lg:w-full">
                      <div
                        class="flex items-center w-full pb-5 mb-5 border-b wow fadeInUp border-stroke dark:border-dark-3"
                        data-wow-delay=".1s
                        "
                      >
                        <div
                          class="mr-5 h-20 w-full max-w-[80px] overflow-hidden rounded-full"
                        >
                          <img
                            src="/images/blog/article-author-02.png"
                            alt="image"
                            class="w-full"
                          />
                        </div>
                        <div class="w-full">
                          <h4>
                            <a
                              href="javascript:void(0)"
                              class="inline-block mb-1 text-lg font-medium leading-snug text-dark hover:text-primary dark:text-dark-6 dark:hover:text-primary lg:text-base xl:text-lg"
                            >
                              The ultimate formula for launching online course
                            </a>
                          </h4>
                          <p class="text-sm text-body-color dark:text-dark-6">
                            Andrio jeson
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="w-full px-4 md:w-1/2 lg:w-full">
                      <div
                        class="flex items-center w-full pb-5 mb-5 border-b wow fadeInUp border-stroke dark:border-dark-3"
                        data-wow-delay=".1s
                        "
                      >
                        <div
                          class="mr-5 h-20 w-full max-w-[80px] overflow-hidden rounded-full"
                        >
                          <img
                            src="/images/blog/article-author-03.png"
                            alt="image"
                            class="w-full"
                          />
                        </div>
                        <div class="w-full">
                          <h4>
                            <a
                              href="javascript:void(0)"
                              class="inline-block mb-1 text-lg font-medium leading-snug text-dark hover:text-primary dark:text-dark-6 dark:hover:text-primary lg:text-base xl:text-lg"
                            >
                              50 Best web design tips & tricks that will help
                              you
                            </a>
                          </h4>
                          <p class="text-sm text-body-color dark:text-dark-6">
                            Samoyel Dayno
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="w-full px-4 md:w-1/2 lg:w-full">
                      <div
                        class="flex items-center w-full pb-5 mb-5 border-0 wow fadeInUp border-stroke dark:border-dark-3 md:border-b lg:border-0"
                        data-wow-delay=".1s
                        "
                      >
                        <div
                          class="mr-5 h-20 w-full max-w-[80px] overflow-hidden rounded-full"
                        >
                          <img
                            src="/images/blog/article-author-04.png"
                            alt="image"
                            class="w-full"
                          />
                        </div>
                        <div class="w-full">
                          <h4>
                            <a
                              href="javascript:void(0)"
                              class="inline-block mb-1 text-lg font-medium leading-snug text-dark hover:text-primary dark:text-dark-6 dark:hover:text-primary lg:text-base xl:text-lg"
                            >
                              The 8 best landing page builders, reviewed
                            </a>
                          </h4>
                          <p class="text-sm text-body-color dark:text-dark-6">
                            Andrio Glori
                          </p>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div
                    class="wow fadeInUp mb-12 overflow-hidden rounded-[5px]"
                    data-wow-delay=".1s"
                  >
                    <img
                      src="/images/blog/bannder-ad.png"
                      alt="image"
                      class="w-full"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap -mx-4">
          <div class="w-full px-4 wow fadeInUp mt-14" data-wow-delay=".2s">
            <h2
              class="relative pb-5 text-2xl font-semibold text-dark dark:text-white sm:text-[36px]"
            >
              Related Articles
            </h2>
            <span class="mb-10 inline-block h-[2px] w-20 bg-primary"></span>
          </div>
        <%- include('partials/blogs', { blogs: relatedBlogs }) %>
        </div>
        <!-- Comments Section -->
        <div class="mt-8">
          <h2
          class="relative pb-5 text-2xl font-semibold text-dark dark:text-white sm:text-[36px]"
        >
          Comments
        </h2>
          <div class="comment-form mb-6">
            <form id="commentForm" class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
              <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <label for="content" class="sr-only">Your comment</label>
                <textarea id="content" name="content" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required></textarea>
                <input type="hidden" name="blogId" value="<%= blog._id %>">
              </div>
              <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                  Post comment
                </button>
                <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2">
                  <!-- <button type="button" class="inline-flex justify-center items-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                      <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                    </svg>
                    <span class="sr-only">Upload image</span>
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        
          <div class="comments-section flex flex-col gap-2" id="commentsContainer">

          </div>
          <div class="flex items-center justify-center">
            <button id="loadMoreComments" class="mt-4  px-4 py-2 bg-primary text-white rounded">Load More Comments</button>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Blog Details Section End -->

    <!-- ====== Footer Section Start -->
    <%- include('partials/footer') %>
    <!-- ====== Footer Section End -->

    <!-- ====== Back To Top Start -->
    <a
      href="javascript:void(0)"
      class="back-to-top fixed bottom-8 left-auto right-8 z-[999] hidden h-10 w-10 items-center justify-center rounded-md bg-primary text-white shadow-md transition duration-300 ease-in-out hover:bg-dark"
    >
      <span
        class="mt-[6px] h-3 w-3 rotate-45 border-l border-t border-white"
      ></span>
    </a>
    <!-- ====== Back To Top End -->

    <!-- ====== Made With Button Start -->
    <a
      target="_blank"
      rel="nofollow noopener"
      class="fixed bottom-8 left-4 z-[999] inline-flex items-center gap-[10px] rounded-lg bg-white px-[14px] py-2 shadow-2 dark:bg-dark-2 sm:left-9"
      href="https://tailgrids.com/"
    >
      <span class="text-base font-medium text-dark-3 dark:text-dark-6">
        Made with
      </span>
      <span class="block w-px h-4 bg-stroke dark:bg-dark-3"></span>
      <span class="block w-full max-w-[88px]">
        <img
          src="/images/brands/tailgrids.svg"
          alt="tailgrids"
          class="dark:hidden"
        />
        <img
          src="/images/brands/tailgrids-white.svg"
          alt="tailgrids"
          class="hidden dark:block"
        />
      </span>
    </a>
    <!-- ====== Made With Button End -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5-content.css" >

    <!-- ====== All Scripts -->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/blogs.js"></script>
    <!-- toogle section -->
    <script>
      document.getElementById('toggleSectionBtn').addEventListener('click', function() {
        const section = document.getElementById('toggleSection');
        const main = document.getElementById('mainContent');
        section.classList.toggle('hidden');
        main.classList.toggle('lg:w-8/12');
      });
    </script>
    <script>
      let currentPage = 1;
      const blogId = '<%= blog._id %>';
      const commentsContainer = document.getElementById('commentsContainer');
      const loadMoreCommentsButton = document.getElementById('loadMoreComments');

      async function loadComments(page) {
        try {
          const response = await fetch(`/blogs/${blogId}/comments?page=${page}`);
          const data = await response.json();
          if (data.success) {
            data.comments.forEach(comment => {
              const commentElement = document.createElement('div');
              commentElement.classList.add('comment', 'flex', 'items-start');
              commentElement.innerHTML = `
                <img src="${comment.author.avatar}" alt="${comment.author.username}'s avatar" class="w-12 h-12 rounded-full mr-4">
                <div class="flex flex-col">
                  <div class="flex flex-col shadow-md rounded-3xl px-4 py-3 bg-white dark:bg-gray-800">
                    <strong class="text-gray-900 dark:text-gray-100">${comment.author.username}</strong>
                    <p class="text-gray-700 dark:text-gray-300">${comment.content}</p>
                  </div>
                  <small class="text-gray-500 dark:text-gray-400 px-4">${comment.createdAt}</small>
                </div>
              `;
              commentsContainer.appendChild(commentElement);
            });
            if (page >= data.totalPages) {
              loadMoreCommentsButton.style.display = 'none';
            }
          }
        } catch (error) {
          console.error('Error loading comments:', error);
        }
      }

      loadMoreCommentsButton.addEventListener('click', () => {
        currentPage++;
        loadComments(currentPage);
      });

      // Load initial comments when the page loads
      document.addEventListener('DOMContentLoaded', () => {
        loadComments(currentPage);
      });
    </script>
    <script>
      document.getElementById('commentForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        
        // Kiểm tra xem người dùng đã đăng nhập hay chưa
        const userId = '<%= user ? user._id : '' %>';
        if (userId === '') {
          Swal.fire({
            icon: 'warning',
            title: 'Not Logged In',
            text: 'You need to be logged in to post a comment.',
            customClass: {
              popup: 'bg-[#F4F7FF] dark:bg-gray-800 text-[#333] dark:text-gray-200',
              title: 'text-[#1a202c] dark:text-gray-100',
              confirmButton: 'bg-[#1a202c] text-white dark:bg-gray-700',
              cancelButton: 'bg-[#e53e3e] text-white dark:bg-red-600'
            }
          });
          return;
        }

        const formData = new FormData(this);
        
        for (var pair of formData.entries()) {
          console.log(pair[0] + ': ' + pair[1]);
        }
        const response = await fetch('/comments', {
          method: 'POST',
          body: formData
        });
        const result = await response.json();
        if (result.success) {
          addCommentToDOM(result.comment, result.timeRange);
          this.reset();
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Comment added successfully!',
            customClass: {
              popup: 'bg-[#F4F7FF] dark:bg-gray-800 text-[#333] dark:text-gray-200',
              title: 'text-[#1a202c] dark:text-gray-100',
              confirmButton: 'bg-[#1a202c] text-white dark:bg-gray-700',
              cancelButton: 'bg-[#e53e3e] text-white dark:bg-green-600'
            }
          });
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Error adding comment',
            customClass: {
              popup: 'bg-[#F4F7FF] dark:bg-gray-800 text-[#333] dark:text-gray-200',
              title: 'text-[#1a202c] dark:text-gray-100',
              confirmButton: 'bg-[#1a202c] text-white dark:bg-gray-700',
              cancelButton: 'bg-[#e53e3e] text-white dark:bg-red-600'
            }
          });
        }
      });
      
      function addCommentToDOM(comment, timeRange) {
        const commentsSection = document.querySelector('.comments-section');
        const commentDiv = document.createElement('div');
        commentDiv.classList.add('comment', 'flex', 'items-start');
        commentDiv.innerHTML = `
          <img src="${comment.author.avatar}" alt="${comment.author.username}'s avatar" class="w-12 h-12 rounded-full mr-4">
          <div class="flex flex-col">
            <div class="flex flex-col shadow-md rounded-3xl px-4 py-3 bg-white dark:bg-gray-800">
              <strong class="text-gray-900 dark:text-gray-100">${comment.author.username}</strong>
              <p class="text-gray-700 dark:text-gray-300">${comment.content}</p>
            </div>
            <small class="text-gray-500 dark:text-gray-400 px-4">${timeRange}</small>
          </div>
        `;
        commentsSection.prepend(commentDiv); }
    </script>
    <script>
      document.getElementById('content').addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
      });
    </script>
  </body>
</html> 

